{% load static %}

<link rel="stylesheet" href="{% static 'licenses/style.css' %}">
<p>Dear {{ client.name }},</p>
<p>This is a notification that the following licenses associated with your account are set to expire soon:</p>

<ul>
{% for license in licenses %}
    <li>License ID: <a href="{% url 'licenses:detail' license.id %}">{{ license.license_id }}</a></li>
    <li>License Type: {{ license.license_type }}</li>
    <li>Package Name: {{ license.package_name }}</li>
    <li>Expiration Date: {{ license.expiration_date }}</li>
    <li>Contact Email: {{ client.email }}</li>
{% endfor %}
</ul>

<p>If you have any questions or concerns, please reach out to us at {{ client.email }}.</p>

<p>Thanks,</p>
<p>The License Team</p>